*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --ancient-color: rgb(230, 230, 230);
  --text-color-1: rgb(41, 41, 41);
  --primary-color: #4385f4;
}

input,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
